@charset "utf-8";

.drp-popup {
    font-family: "AvenirLTStd-Heavy", "Avenir LT Std 85 Heavy", "Open Sans", Helvetica, Arial, sans-serif;
}

.drp-popup {
    top: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 9999;
    font-size: 12px;
    color: #444444;
    background-color: white;
    margin: 15px 0;
    padding: 18px 18px 38px;
    text-transform: uppercase;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 4px 10px 0 #828282;
    -moz-box-shadow: 0px 4px 10px 0 #828282;
    box-shadow: 0px 4px 10px 0 #828282;
}
.drp-popup *, .drp-popup *:before, .drp-popup *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.drp-popup a {
    text-decoration: none;
}
.drp-popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.drp-popup .drp-timeline {
    position: relative;
}
.drp-popup .drp-timeline .drp-timeline-bar {
    position: relative;
    height: 13px;
    border-bottom: 3px solid #cccccc;
    bottom: 21px;
}
.drp-popup .drp-timeline .drp-timeline-bar:before, .drp-popup .drp-timeline .drp-timeline-bar:after {
    content: "";
    position: absolute;
    height: 15px;
    border-left: 3px solid #cccccc;
    bottom: -9px;
    left: 0;
}
.drp-popup .drp-timeline .drp-timeline-bar:after {
    left: auto;
    right: 0;
}
.drp-popup .drp-timeline .drp-timeline-presets {
    position: relative;
    z-index: 1;
}
.drp-popup .drp-timeline .drp-timeline-presets li {
    position: relative;
    width: 87px;
    height: 36px;
    display: inline-block;
    color: #bcbcbc;
    background-image: url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");
    text-align: center;
    cursor: pointer;
}
.drp-popup .drp-timeline .drp-timeline-presets li:first-child {
    margin-left: 3px;
}
.drp-popup .drp-timeline .drp-timeline-presets li .drp-button {
    z-index: 2;
    cursor: pointer;
    background-color: #e0e0e0;
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 4px;
    left: 37px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid white;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.drp-popup .drp-timeline .drp-timeline-presets li.drp-selected {
    color: #444444;
}
.drp-popup .drp-timeline .drp-timeline-presets li.drp-selected .drp-button, .drp-popup .drp-timeline .drp-timeline-presets li:hover .drp-button {
    background-color: #2a91ca;
    width: 16px;
    height: 16px;
    left: 35px;
    bottom: 2px;
}
.drp-popup .drp-calendar {
    display: table-cell;
    vertical-align: top;
    width: 228px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e0e0e0;
}
.drp-popup .drp-calendar .drp-month-picker {
    position: relative;
    background-color: #efefef;
    height: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-bottom: 3px;
    line-height: 32px;
}
.drp-popup .drp-calendar .drp-month-picker .drp-month-title {
    font-size: 14px;
    text-align: center;
}
.drp-popup .drp-calendar .drp-month-picker .drp-arrow {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    position: absolute;
    width: 28px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    left: 0;
    top: 0;
    color: #afafaf;
}
.drp-popup .drp-calendar .drp-month-picker .drp-arrow-right {
    left: auto;
    right: 0px;
}
.drp-popup .drp-calendar .drp-day-headers li {
    display: inline-block;
    width: 30px;
    height: 24px;
    line-height: 26px;
    margin: 0 0 3px 3px;
    text-align: center;
}
.drp-popup .drp-calendar .drp-day-headers li:first-child {
    margin-left: 0;
}
.drp-popup .drp-calendar .drp-days {
    zoom: 1;
}
.drp-popup .drp-calendar .drp-days:before, .drp-popup .drp-calendar .drp-days:after {
    content: "";
    display: table;
}
.drp-popup .drp-calendar .drp-days:after {
    clear: both;
}
.drp-popup .drp-calendar .drp-days li {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 33px;
    height: 24px;
    border-right: solid 3px white;
    float: left;
    cursor: pointer;
    line-height: 26px;
    text-align: center;
    margin: 0 0 3px 0;
}
.drp-popup .drp-calendar .drp-days li.drp-day-last-in-row {
    width: 30px;
    border-right: none;
}
.drp-popup .drp-calendar .drp-days li.drp-day-in-range {
    color: #2a91ca;
    background-color: #ddf3fe;
    border-color: #ddf3fe;
}
.drp-popup .drp-calendar .drp-days li.drp-day-last-in-range {
    border-color: white;
}
.drp-popup .drp-calendar .drp-days li.drp-day-selected, .drp-popup .drp-calendar .drp-days li:hover {
    color: #efefef;
    background-color: #2a91ca;
}
.drp-popup .drp-calendar .drp-days li.drp-day-disabled {
    color: #cccccc;
}
.drp-popup .drp-calendar .drp-days li.drp-day-disabled:hover {
    background-color: white;
    cursor: default;
}
.drp-popup .drp-calendar .drp-days .drp-day-empty {
    background-color: transparent !important;
    cursor: auto;
}
.drp-popup .drp-calendars {
    padding: 18px 0 10px;
    border-top: 1px solid #e0e0e0;
}
.drp-popup .drp-calendar:first-child .drp-day-selected {
    border-color: #ddf3fe;
}
.drp-popup .drp-calendar-date {
    position: absolute;
    bottom: 0px;
    height: 34px;
    width: inherit;
    text-align: center;
    color: #2a91ca;
    font-size: 16px;
}
.drp-popup .drp-calendar-date:before {
    font-size: 12px;
    color: #444444;
}
.drp-popup .drp-calendar-start .drp-calendar-date:before {
    content: "Start Date: ";
}
.drp-popup .drp-calendar-end .drp-calendar-date:before {
    content: "End Date: ";
}
.drp-popup .drp-calendar-separator {
    display: table-cell;
    position: relative;
    width: 69px;
    top: 8px;
}
.drp-popup .drp-calendar-separator:before {
    content: "";
    position: absolute;
    height: 90%;
    border-left: 1px solid #e0e0e0;
    left: 34px;
}
.drp-popup .drp-calendar-separator:after {
    content: "To";
    position: absolute;
    top: 80px;
    color: #2a91ca;
    background-color: white;
    height: 38px;
    width: 69px;
    text-align: center;
    font-size: 16px;
    line-height: 41px;
}
.drp-popup .drp-tip {
    position: absolute;
    top: 0;
    left: 30px;
}
.drp-popup .drp-tip:before, .drp-popup .drp-tip:after {
    content: "";
    position: absolute;
    border-style: solid;
    bottom: 0;
}
.drp-popup .drp-tip:before {
    left: 0;
    border-width: 0 16px 16px;
    border-color: #d6d6d6 transparent;
}
.drp-popup .drp-tip:after {
    left: 2px;
    border-width: 0px 14px 14px;
    border-color: white transparent;
}
