<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="redisClient" class="redis.clients.jedis.JedisPool">
        <!--阿里云服务器地址-->
        <constructor-arg name="host" value="39.108.71.221"></constructor-arg>
        <constructor-arg name="port" value="6379"></constructor-arg>
    </bean>

    <bean id="jedisClient" class="dao.impl.JedisClientSingleImpl"/>
</beans>